<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo_photoroom"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo_photoroom"
        android:supportsRtl="true"
        android:theme="@style/Theme.FocusFlow">
        
        <activity
            android:name="com.example.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FocusFlow"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.service.FocusFlowWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/focus_flow_widget_info" />
        </receiver>


        <receiver
            android:name="com.example.service.ReminderReceiver"
            android:exported="false" />

        <activity
            android:name="com.example.ui.screens.BlockOverlayActivity"
            android:theme="@style/Theme.FocusFlow"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=".LockOverlay"
            android:exported="true" />
            
        <activity
            android:name="com.example.ui.screens.ThemeSelectionActivity"
            android:theme="@style/Theme.FocusFlow"
            android:exported="false" />
            
        <activity
            android:name="com.example.ui.screens.AnimationSelectionActivity"
            android:theme="@style/Theme.FocusFlow"
            android:exported="false" />

        <service
            android:name="com.example.service.AppBlockerService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
            
    </application>

</manifest>
